{% extends 'base.html' %}

{% block content %}



<div class="card">


    {% if user.profile.image %}

        <img

        src="{{ user.profile.image.url }}"

        width="120"

        height="120"

        style="
        border-radius:50%;
        object-fit:cover;
        ">

    {% endif %}



    <br><br>


    <h1>

        Welcome {{ user.username }}

    </h1>


    <br>


    <h3>

        Points:
        {{ user.profile.points }}

    </h3>


    <br>



    <a
    href="{% url 'edit_profile' %}"
    class="btn">

        Edit Profile

    </a>



    <a
    href="{% url 'add_skill' %}"
    class="btn">

        Add Skill

    </a>


</div>





<h2>

    Your Skills

</h2>


<br>



{% for skill in skills %}


    <div class="card">


        <h3>

            {{ skill.name }}

        </h3>


        <br>


        <p>

            {{ skill.description }}

        </p>


        <br>



        <a href="{% url 'edit_skill' skill.id %}">

            Edit

        </a>


        |


        <a href="{% url 'delete_skill' skill.id %}">

            Delete

        </a>


    </div>


{% empty %}

    <p>

        No skills yet

    </p>

{% endfor %}



{% endblock %}